<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

    </style>
    <title>Register</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">


                <a class="nav-item nav-link" href="/account/login">login</a>

            </div>
        </div>
    </nav>

    <h3></h3>


    <div class="container">
        <!-- Content here -->
        <h2>Register</h2>
        <br>
        {%if msg%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{msg}}</strong>
        </div>
        {%endif%}



        <form action="" method="post">
            {%csrf_token%}
            
            <br>

          
          

            <input type="text" class="form-control" name="username" placeholder="username" required>
            <br>
            <input type="email" class="form-control" name="email" placeholder="email" required>
            <br>
            
            {% if pk == 1 %}
            <input type="number" class="form-control" name="phone_number" placeholder="Phone Number" required>
            <br>
            {% elif pk == 2 %}
            
            <input type="text" class="form-control" name="shop_name" placeholder="shop name" required>
            <br>
            <input type="number" class="form-control" name="phone_number" placeholder="Phone Number" required>
            <br>
            <input type="text" class="form-control" name="address" placeholder="address" required>
            <br>
            <input type="text" class="form-control" name="apartment" placeholder="apartment" required>
            <br>
            <input type="text" class="form-control" name="city" placeholder="city" required>
            <br>
            <input type="text" class="form-control" name="state" placeholder="state" required>
            <br>
            <input type="number" class="form-control" name="pincode" placeholder="pincode" required>
            <br>
            {% endif %}

            
            <input type="password" class="form-control" name="password1" placeholder="password" id="exampleInputPassword1" required>
            <br>
            <input type="password" class="form-control" name="password2" id="exampleInputPassword1"
                    placeholder="Confirm Password" required>
            <br>
            <button type="submit" class="btn btn-primary" placeholder="submit">Submit</button>

            <p class=lead> Already Registered <a href="/account/login/">click here</a> to Login</p>
        </form>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>