{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>seller products</title>

    <style>
        .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
    </style>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">


                <a class="nav-item nav-link" href="/account/login">login</a>

            </div>
        </div>
    </nav>

        

    <div class="wrapper">
        {% for i in product_obj %}
        <div class="container my-3">
           <h3></h3>
            

            <div class="card" style="width: 18rem;">
                <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="/product/homedetail/{{i.id}}">{{i.name|slice:":20"}}</a></h5>
                    <p class="card-text">{{i.imformation|slice:":20"}}</p>
                    <a href="/cart/addToCart/{{i.id}}" class="btn btn-primary">Add to cart</a>
                    <a href="/product/homedetail/{{i.id}}" class="btn btn-primary">Know more</a>
                </div>
            </div>
            <br>  

        </div>
        {% endfor %}
    </div>

</body>

</html>